* {
    box-sizing: 0;
    margin: 0;
}

.information {
    width: 1920px;
    height: 40px;
    filter: drop-shadow(0px 1px 0px #e6e9ed);
    background-color: #f5f7f9;
    display: flex;
}

.email {
    font-size: 12px;
    color: #506a85;
    font-weight: 400;
    font-family: "Source Sans Pro";
    margin-left: 347.69px;
    padding: 15px;
    justify-content: space-between;
}

.phone {
    font-size: 12px;
    color: #506a85;
    font-weight: 400;
    font-family: "Source Sans Pro";
    margin-left: 23px;
    padding: 15px;
}

.icon {
    font-size: 12px;
    background-color: #506a85;
    font-weight: 400;
    font-family: "Source Sans Pro";
    margin-left: 981px;
    padding: 15px;
    width: 159px;
    color: #fff;
}